body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#container {
  width: 600px;
  margin: 0 auto;
}
xmp {
  background: #ccc;
  padding: 10px;
}
.source {
  position: relative;
  border: 1px solid #000;
  background: #ddd;
  padding: 0;
}
xmp.run {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 10px;
}
input.run {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
}
