body
  padding 0
  margin 0
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

#container
  width 600px
  margin 0 auto

// 일반 소스
xmp
  background #ccc
  padding 10px

// 실행 가능한 소스
.source
  position relative
  border 1px solid black
  background #ddd
  padding 0

xmp.run
  background #000
  color #fff
  margin 0
  padding 10px

input.run
  position absolute
  display block
  right 0
  bottom 0