body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#container {
  width: 600px;
  margin: 0 auto;
}
pre {
  position: relative;
}
input.run {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
}
